<form action="/dashboard/styles/create" method="post">

    <label for="name">the name : </label>
    <input type="text" name="name" id="name" required>

    <label for="color">the color : </label>
    <input type="text" name="color" id="color">

    <label for="wikiURL">the wikipedia URL : </label>
    <input type="text" name="wikiURL" id="wikiURL">

    <button>Create a style</button>

</form>