<h1>Labels</h1>
<a href="/dashboard/labels/create">Create a Label</a>
<ul>
{{#each labels}}
    <li>{{this.name}}
        <a href="/dashboard/labels/delete/{{this._id}}">Delete</a>
    </li>

{{/each}}
</ul>