<form method="post" action="/dashboard/labels/create">

    <label for="name">the name : </label>
    <input type="text" name="name" id="name" required>

    <label for="city">the city : </label>
    <input type="text" name="city" id="city">

    <label for="country">the country : </label>
    <input type="text" name="country" id="country">

     <label for="streetNumber">the street Number : </label>
    <input type="number" name="streetNumber" id="streetNumber">

    <label for="zipCode">the zipCode : </label>
    <input type="text" name="zipCode" id="zipCode">

    <button>Creation done</button>

</form>