<form action="/dashboard/artist/create" method="post">

    <label for="name">the name : </label>
    <input type="text" name="name" id="name" required>

    
    <label for="isBand">the band : </label>
    <input type="checkbox" name="isBand" id="isBand">

    <label for="description">the description : </label>
    <input type="text" name="description" id="description">

    <button>Creation done</button>

</form>